.nav-wrapper{
    top: 0;
    z-index: 99;
    position: fixed;
    font-size: 17px;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}



.nav{
    width: 100%;
    height: inherit;
    width: 100%;
    overflow: hidden;
    height: 54px;
}

nav{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1{
    font-size: medium;
    cursor: pointer;
}


.nav-links-wrapper{
    width: 50%;
    height: inherit;
}

.nav-links{
    width: 100%;
    height: inherit;
    display: flex;
}

.nav-links ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li{
    list-style-type: none;
    cursor: pointer;
    font-size: small;
    transition: .5s;
    color: black;
}


.nav-links ul li:after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(172, 169, 171);
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover:after{
    width: 101%;
}



.cart{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.cart svg{
    padding: 13px;
    border-radius: 13px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(207, 207, 207);
}


.cart-no{
    position: relative;
    z-index: 9;
    top: -12px;
    right: -45px;
}

.cart-no p{
    background-color: rgb(241, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    width: 17px;
    height: 17px;
    color: white;
    box-shadow: 0px 0px 2px 0px rgb(3, 0, 0);
    font-size: 13px;
    font-weight: bolder;
}


.menu{
    width: 10%;
    display: none;
}





.background{
    background-color: rgb(253, 253, 253);
    box-shadow: 0px 0px 10px rgb(236, 236, 236);
    transition: ease-in-out 0.5s;
}


/* MEDIA QUERY */

@media screen and (max-width:690px) {
    .nav{
        height: 74px;
        overflow: visible;
    }
    .menu{
        display: flex;
    }

    .nav-slidein{
        position: absolute;
         top: 74px;
         background-color: white;
        /* background-color: rgb(235, 233, 233); */
        height: 94vh;
        width: 100%;
        right: 1px;
        z-index: -1;
        transform: translateX(0%);
        transition: ease-in 0.55s;
        position: fixed;
    }
    .nav-links-wrapper{
        position: absolute;
         top: 74px;
         color: black;
        /* background-color: rgb(235, 233, 233);
    */       background-color: white;
    
        height: 94vh;
        width: 90%;
        right: 1px;
        z-index: 1;
        transform: translateX(100%);
        transition: ease-in 0.55s;
        position: fixed;
    }


    .nav-links ul{
        flex-direction: column;
        justify-content: space-evenly;
    }
}




 



